<html>
  <div class="header">
    <div class="Text" align="center" width=100%> <h2>A chart and data projection for the amount of {{_selectedlanguage}} Repos that will be created over the next 5 years on Github</h2> </div>
  </div>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawOriginalChart);
      google.charts.setOnLoadCallback(drawPredictionChart);

     function drawPredictionChart() {
       var options = {
                title: 'Prediction of Repository for next 5 years of {{_selectedlanguage}} language',
                curveType: 'function',
                legend: { position: 'right' },
                axes: {
                  x: {
                        0: {side: 'bottom'}
                    }
                },
       series: {
         0: { lineWidth: 5 },
         1: { lineWidth: 5 },
       },
         colors: ['#e2431e', '#4374e0']
      };
      var pred_years = {{pred_year|safe}};
      var original_count = {{current_count|safe}};
      var pred_count = {{pred_count|safe}};

      var pred_data = new google.visualization.DataTable();
      pred_data.addColumn('string', 'Years');
      pred_data.addColumn('number', 'Original_Count');
      pred_data.addColumn('number', 'Predicted_Count');

     for(i = 0; i < pred_years.length; i++)
       pred_data.addRow([pred_years[i], original_count[i], pred_count[i]]);

      var pred_chart = new google.charts.Line(document.getElementById('pred_chart'));
      pred_chart.draw(pred_data, google.charts.Line.convertOptions(options));
    }

    function drawOriginalChart() {
      var options = {
               title: 'Repository of {{_selectedlanguage}} language',
               curveType: 'function',
               legend: { position: 'right' },
               series: {
                 0: { axis:'Original_Count' }
               },
               axes: {
          // Adds labels to each axis; they don't have to match the axis names.
              y: {
                Original_Count: {label: 'Number of Repository'}
              }
        },
        colors: ['#4374e0']
      };
      var years = {{current_year|safe}};
      var total = {{current_count|safe}};

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Years');
      data.addColumn('number', '{{_selectedlanguage}}');

      for(i = 0; i < years.length; i++)
        data.addRow([years[i], total[i]]);

      var chart = new google.charts.Line(document.getElementById('prediction_chart'));
      google.visualization.events.addListener(chart, 'select', function() { highlightLine(chart,data, options); });
      chart.draw(data, google.charts.Line.convertOptions(options));
        }

    function highlightLine(chart,data,options) {
        var selectedLineWidth = 4;
        var selectedItem = chart.getSelection()[0];
        for(var i in options.series) {
            options.series[i].lineWidth = 1;
        }
        options.series[selectedItem.column-1].lineWidth = selectedLineWidth;
        chart.draw(data, options);   //redraw
    }
  </script>
  </head>
  <body>
    <table class="columns" align="center">
      <tr>
        <td><div id="prediction_chart" style="border: 1px solid #ccc; width: 1100px; height: 600px"></div></td>
      </tr>
      <tr>
        <td>
            &nbsp;<!--you just need a space in a row-->
        </td>
      </tr>
      <tr>
        <td>
            &nbsp;<!--you just need a space in a row-->
        </td>
      </tr>
      <tr>
        <td><div id="pred_chart" style="border: 1px solid #ccc; width: 1100px; height: 600px"></div></td>
      </tr>
      <tr>
        <td>
            &nbsp;<!--you just need a space in a row-->
        </td>
      </tr>
      <tr>
        <td> <b>Estimate Error</b> which summarize the measure of accuracy of prediction is {{estimate_error}} </td>
      </tr>
      <tr>
        <td>
            &nbsp;<!--you just need a space in a row-->
        </td>
      </tr>
      <tr>
        <td> <b>Goodness Fit</b> which summarize the discrepancy between observed value and value expected under the model in question is {{goodness_fit}}.</td>
      </tr>
      <tr>
        <td> As the computed statistics is small, the observed and expected values are close and the model is good fit to the data.</td>
      </tr>
      <tr>
        <td>
            &nbsp;<!--you just need a space in a row-->
        </td>
      </tr>
      <tr>
        <td> <b>Standard Deviation Error</b> which summarize degree to which indiviual within the sample differ from the sample mean is {{standard_deviation_error}} </td>
      </tr>
    </table>

  </body>
  <div class="footer">
    <div class="Text" align="center"> <h5>Build by Keyur, Powered by Flask</h5> </div>
  </div>
</html>
